@media (min-width: 767px) {
	.site-header {
		display: flex;
		flex-direction: column-reverse;
	}

	.navbar {
		margin-left: auto;
	}

	.navbar-nav>li>a {
		border-right: 1px solid;
		line-height: 1;
	}
}

@media (max-width: 960px) {
	.custom-logo {
		max-width: 150px;
	}
}

@media (max-width: 767px) {
	.custom-logo {
		max-width: 100px;
	}
	.custom-logo-link {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
