@media (min-width: 768px) {
	.site-header {
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}

	.bace-site-header-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	.navbar {
		margin-left: auto;
	}

	.navbar-nav>li>a {
		border-right: 1px solid;
		line-height: 1;
	}
}

@media (max-width: 960px) {
	.custom-logo {
		max-width: 150px;
	}
}

@media (max-width: 768px) {
	.custom-logo {
		max-width: 100px;
	}
	.custom-logo-link {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar-nav>li>a {
		padding-left: 0;
		padding-right: 0;
	}
}
