@media (min-width: 768px) {
	.site-header {
		padding-top: rem-calc(20);
	}

	.bace-site-header-wrapper {
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: rem-calc(20);
	}

	.bace-primary-navbar {
		margin-left: auto;
	}

	.bace-primary-navbar-nav>li>a {
		border-right: 2px solid;
		line-height: 1;
	}

	.bace-secondary-navbar-nav .current-menu-item a:visited,
	.bace-secondary-navbar-nav>li>a:hover,
	.bace-secondary-navbar-nav>li>a:hover {
		color: $color__white;
	}

	.bace-secondary-navbar-nav .current-menu-item a,
	.bace-secondary-navbar-nav>li>a:hover,
	.bace-secondary-navbar-nav>li>a:hover {
		background: $color__background-link-hover;
	}

	.bace-site-branding-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

@media (min-width: 992px) {
	.bace-banner {
		&__slider-container {
			width: 71%;
		}
		&__content {
			width: 29%;
		}
	}

	.bace-banner {
		&__content {
			letter-spacing: rem-calc(0.6);
		}
	}

	.bace-content,
	.bace-content__twitter {
		border-right: 1px solid $color__border;
	}
}

@media (max-width: 992px) {
	.custom-logo {
		max-width: rem-calc(150);
	}
}

@media (max-width: 768px) {
	.custom-logo {
		max-width: rem-calc(100);
	}
	.custom-logo-link {
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(10);
	}
	.bace-primary-navbar,
	.bace-secondary-navbar {
		margin-bottom: 0;
		min-height: auto;
	}
	.bace-primary-navbar-nav>li>a {
		padding-left: 0;
		padding-right: 0;
	}
	.bace-site-header-wrapper {
		text-align: center;
	}
	.bace-secondary-navbar-nav .current-menu-item a,
	.bace-secondary-navbar-nav>li>a:hover,
	.bace-secondary-navbar-nav>li>a:hover {
		background: transparent;
	}
	.bace-secondary-navbar {
		text-align: center;
	}
}
