.site-footer {
	a {
		color: $color__text-main;
	}
}

.site-info {
	margin-bottom: rem-calc(20);
}

.bace-footer-disclaimer {
	font-size: rem-calc(11);
	padding-top: rem-calc(8);
	padding-bottom: rem-calc(8);
	color: $color__text-light;
	background: $color__footer;
	&__para {
		margin-bottom: 0;
	}
}

.bace-footer {
	&__logo {
		margin-bottom: rem-calc(30);
	}
	&__content {
		background: $color__theme-primary;
	}
}
