body {
	font-size: rem-calc(13);
}

.site-footer {
	a {
		color: $color__text-main;
	}
}

.site-info {
	margin-bottom: rem-calc(20);
}

.bace-site-footer-disclaimer {
	font-size: rem-calc(11);
	padding-top: rem-calc(8);
	padding-bottom: rem-calc(8);
	color: $color__text-light;
	background: $color__footer;
}

.bace-site-footer-disclaimer-para {
	margin-bottom: 0;
}

.bace-footer-content {
	background: $color__theme-primary;
}

.bace-site-footer-widgets {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(10);
	}
}

.bace-footer-widget-title {
	padding-bottom: rem-calc(10);
	margin-bottom: rem-calc(15);
	border-bottom: 1px solid $color__border-footer;
}

.bace-site-footer-logo {
	margin-bottom: rem-calc(30);
}
