body {
	font-size: rem-calc(13);
}

.bace-site-footer-disclaimer {
	font-size: rem-calc(11);
	padding-top: rem-calc(8);
	padding-bottom: rem-calc(8);
	color: $color__text-light;
	background: $color__footer;
}

.bace-site-footer-disclaimer-para {
	margin-bottom: 0;
}
