.site-header {
	background: $color__header;
}

.nav-link {
	padding: rem-calc(5)
}

.navbar-nav>li:last-child a {
	padding-right: 0;
	border-right: none;
}

.navbar-nav {
	font-size: rem-calc(12);
	text-transform: uppercase;
}
