.site-header {
	background: $color__header;
}

.nav-link {
	padding: rem-calc(5)
}

.bace-primary-navbar,
.bace-secondary-navbar {
	text-transform: uppercase;
	font-size: rem-calc(12);
	font-weight: 600;
}

.bace-primary-navbar-nav>li:last-child a {
	padding-right: 0;
	border-right: none;
}

.bace-primary-navbar-nav>li>a:hover,
.bace-primary-navbar-nav>li>a:focus {
	background: transparent;
}

.navbar-toggle {
	padding: rem-calc(10 0);
	font-size: rem-calc(20);
	border: 0;
	&:hover,
	&:focus {
		border: 0;
	}
}

.bace-secondary-navbar {
	margin-bottom: 0;
}

.bace-secondary-navbar-nav>li>a {
	padding: rem-calc(10);
}

.bace-secondary-navbar {
	background: $color__theme-primary;
	border-top: 1px solid $color__white;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.bace-primary-navbar a,
.bace-secondary-navbar a {
	color: $color__text-main;
}

.bace-secondary-navbar-toggle {
	float: left;
}
