.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		margin-top: rem-calc(10);
		margin-bottom: rem-calc(10);
	}
}

.widget-title,
.bace-title {
	background: $color__background-title;
	padding: 6px 10px;
	border-left: 8px solid $color__theme-primary;
}

.bace-main .widget-title,
.bace-title {
	margin-top: 0;
}

//Timestamp Widget
.bace-timestamp {
	&__date {
		font-size: rem-calc(16);
	}
	&__time {
		font-size: rem-calc(60);
		font-weight: 300;
	}
}

//Recent News Widget
.bace-most-recent-news {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: rem-calc(20);
	&__thumbnail {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: rem-calc(10);
		min-width: rem-calc(100);
		img {
			max-width: 100px;
			border: 5px solid $color__theme-tertiary;
			&:hover {
				@include transition;
				border-color: $color__theme-secondary;
			}
		}
	}
	&__title {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		font-size: rem-calc(13);
		text-overflow: ellipsis;
		margin-top: 0;
		margin-bottom: 0;
		a {
			color: $color__text-main;
		}
	}
	&__date {
		font-size: rem-calc(11);
	}
}

.bace-recent-news {
	&__loadmore {
		color: $color__link;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

// News Slider
.bace-news-slider {
	&__footer {
		display: flex;
		justify-content: space-between;
	}
}

// Footer Widgets

.bace-footer-widget-title {
	background: transparent;
	border-left: 0;
	padding-bottom: rem-calc(10);
	margin-bottom: rem-calc(15);
	border-bottom: 1px solid $color__border-footer;
}
