.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title,
.bace-our-partners__title {
	background: $color__background-title;
	padding: 6px 10px;
	border-left: 8px solid $color__theme-primary;
	margin-bottom: rem-calc(20);
}

//Timestamp Widget
.bace-timestamp {
	&__date {
		font-size: rem-calc(16);
	}
	&__time {
		font-size: rem-calc(60);
		font-weight: 300;
	}
}

//Recent Posts Widget
.bace-recent-post {
	display: flex;
	&__thumbnail {
		width: 30%;
		margin-right: rem-calc(10);
		img {
			border: 5px solid $color__theme-tertiary;
		}
	}
	&__content {
		width: 70%;
	}
	&__title {
		font-size: rem-calc(13);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		max-height: rem-calc(200);
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-top: rem-calc(10);
		margin-bottom: 0;
	}
	&__date {
		font-size: rem-calc(11);
	}
}
