.bace-banner {
	background: #eeeaeb;
	max-width: rem-calc(950);
	margin: 0 auto;

	&__slider {
		margin-left: 0;
		padding-left: 0;
	}

	&__slider-nav {
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
		border-top: 1px solid $color__border;
		border-bottom: 1px solid $color__border;
		margin-top: rem-calc(15);
		img {
			border: 6px solid $color__theme-tertiary;
		}
		&:before {
			content: "";
			position: absolute;
			top: rem-calc(-15);
			left: 0;
			height: rem-calc(5);
			width: 100%;
			background: #dcd7d3;
		}
	}

	&__slider-container {
		padding-left: 0;
		padding-right: 0;
	}

	&__slider-image {
		padding: rem-calc(2);
	}

	&__content {
		line-height: 1.5;
		padding-bottom: rem-calc(15);
	}

	&__read-more {
		&:visited {
			color: $color__theme-secondary;
		}
	}

	&__content-image {
		float: left;
		margin-right: rem-calc(10);
	}

	&__content-title {
		margin-bottom: rem-calc(20);
		font-size: rem-calc(20);
		color: $color__theme-secondary;
	}
	&__slide-content {
		display: none;
	}
	&__more-link,
	&__more-link:hover,
	&__more-link:visited {
		color: $color__theme-secondary;
	}
}

.slick-dots {
	padding: rem-calc(15);
	bottom: 0;
	text-align: right;
	li {
		button {
			box-shadow: 0 0 0 2px $color__theme-primary;
			border-radius: 100%;
			height: rem-calc(15);
			width: rem-calc(15);
			padding: 0;
			&:before {
				font-size: rem-calc(17);
				color: $color__theme-secondary;
				opacity: 1;
				height: rem-calc(15);
				width: rem-calc(15);
				line-height: rem-calc(17);
			}
		}
	}
}

.slick-dots li.slick-active button {
	box-shadow: 0 0 0 2px $color__white;
}

.slick-dots li.slick-active button:before {
	color: $color__theme-secondary;
}

.slick-slide {
	&:focus {
		outline: 0;
	}
	img {
		width: 100%;
	}
}

.slick-prev:before,
.slick-next:before {
	color: $color__text-main;
}

.slick-current {
	img {
		border-color: $color__theme-quaternary;
	}
}

.slider-nav .slick-list {
	margin-left: rem-calc(50);
	margin-right: rem-calc(50);
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

.slick-prev,
.slick-next {
	width: rem-calc(45);
	height: 100%;
	&:before {
		font-size: rem-calc(45);
		color: $color__theme-tertiary;
	}
}

.slick-dotted.slick-slider {
	margin-bottom: rem-calc(1);
}
