.bace-content {
	margin-bottom: rem-calc(20);

	&__category-title {
		margin-left: rem-calc(15);
		margin-right: rem-calc(15);
	}

	&__category {
		margin-bottom: rem-calc(15);
	}

	&__thumbnail {
		margin-top: 0;
		img {
			border: 5px solid $color__theme-tertiary;
		}
		margin-bottom: rem-calc(5);
	}

	&__thumbnail-link {
		&:hover {
			img {
				@include transition;
				border-color: $color__theme-secondary;
			}
		}
	}

	&__title {
		font-size: inherit;
		font-weight: inherit;
		margin-top: 0;
	}

	&__twitter,
	&__facebook {
		margin-bottom: rem-calc(20);
	}

	&__facebook {
		margin-bottom: rem-calc(20);
	}

	&__social {
		padding-top: rem-calc(20);
		border-top: 1px solid $color__border;
	}
}
